<div class="modal-body wrapper-lg">
    <div class="form-horizontal">

        <label class="text-center" style="width:100%">快速设定</label>

        <div class="line line-dashed b-b"></div>
        <div class="form-group" style="margin-bottom:0px">
            <label class="col-md-3" >权限模板</label>
            <div class="col-md-9" >
                <select class="form-control" ng-model="myOption" ng-options="x for x in myOptions" >
                    <option>--</option>
                </select>
            </div>
        </div>

        <div class="line line-dashed b-b"></div>
        <div class="form-group" style="margin-bottom:0px">
            <label class="col-md-3" >组ID</label>
            <div class="col-md-9" >
                <input class="form-control" type="text" ng-model="gid" placeholder="请输入更新权限的组ID">
            </div>
        </div>
        <div class="line line-dashed b-b"></div>
		<div class="ngdialog-buttons mt">
			<button class="ngdialog-button btn btn-info" ng-click='commit();'>确定</button>
		</div>
    </div>
</div>
