# 参考资料
# http://www.lxzhu.net/blogcn/archives/git-gitignore-file
#

# 关闭以下跟踪
*.DS_Store
/*

# 跟踪以下内容
!/etc
!/download
!/doc
!/README.md
!/Dockerfile
!/*.sh
!/*.bash
!/go.mod
!/go.sum
!/.gitignore

# 跟踪以下所有文件
!/applet
/applet/*/*
!/applet/*/*.go
!/applet/*/*.bash
!/applet/*/.gitignore
!/applet/*/Dockerfile
!/applet/*/public
!/applet/*/route
!/applet/*/model
!/applet/*/testing

!/service
/service/*/*
!/service/*/*.go
!/service/*/*.bash
!/service/*/.gitignore
!/service/*/Dockerfile
!/service/*/public
!/service/*/route
!/service/*/model
!/service/*/testing
